name: itknows
description: A real-time adaptive metabolic and physiological optimisation app.
version: 1.0.0+218

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  path_provider: ^2.1.2
  share_plus: ^10.0.0
  provider: ^6.1.5
  fl_chart: ^0.69.0
  flutter_reactive_ble: ^5.0.2
  permission_handler: ^11.4.0
  vibration: ^1.7.6
  audioplayers: ^5.2.1
  flutter_local_notifications: ^17.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true

  assets:
    - assets/icon.png

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon.png"
